<div class="row">
    <div class="col-12 h2 text-center mb-5">
        LOGIN
    </div>
    <div class="col-md-4 text-center mb-3">
        <button class="btn btn-danger" id="logingoogle">Login with google</button>
    </div>
    <div class="col-md-4 text-center mb-3">
        <button class="btn btn-primary" id="loginfacebook">Login with facebook</button>
    </div>
    <div class="col-md-4 text-center mb-3">
        <button class="btn btn-dark" id="logingithub">Login with github</button>
    </div>
</div>